:root {
    --background-color: #282c34;
    --text-color: #fff;
    --href-color: #0070f3;
    --yellow-color: #e4bb68;
    --red-color: #ff7883;
    --blue-color: #61afef;
    --box-color: #2d2d2d;
    --border-color: #3f3f3f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: jetbrains mono, monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 200;
}

a {
    color: var(--blue-color);
    text-decoration: none;
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

i {
    color: var(--text-color);
}

.red {color: var(--red-color);}
.yellow {color: var(--yellow-color);}
.blue {color: var(--blue-color);}

#goToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--box-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    z-index: 998;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dot {
    color: var(--text-color);
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

nav h2 a {
    color: var(--text-color);
}

nav a:hover {
    color: var(--yellow-color);
}

nav div a {
    display: inline-flex; 
    align-items: center; 
}

nav div a::before {
    display: inline-block;
    content: '';
    background-image: url('/images/icons/map_light.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-right: .5rem;
    vertical-align: middle;
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav div p {
    font-size: 12px;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f9f9f9; 
        --text-color: #333;
        --href-color: #0066cc; 
        --yellow-color: #b65700; 
        --red-color: #f31911;
        --blue-color: #007bff; 
        --box-color: #ffffff; 
        --border-color: #cccccc;
    }
}

@media (min-width: 450px) {
    ::-webkit-scrollbar {
        width: 12px; 
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--border-color); 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--yellow-color); 
    }
}