:root {
    --background-color: #282c34;
    --text-color: #fff;
    --href-color: #0070f3;
    --yellow-color: #e4bb68;
    --red-color: #ff7883;
    --blue-color: #61afef;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: jetbrains mono, monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 200;
}
a {
    color: var(--href-color);
}

#fdnd {
    display: fixed;
    right: 0;
    top: 0;
    position: fixed;
    background-color: var(--background-color);
    padding: 1rem 2rem 0 0;
    z-index: 999;
}

#goToTop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #3f3f3f;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.dot {
    color: var(--text-color);
}


@media (prefers-color-scheme: light) {
    :root {
        --background-color: #d7d3cb;
        --text-color: #000;
        --href-color: #1a0dab;
        --yellow-color: #674606;
        --red-color: #B40B1B;
        --blue-color: #385772;
    }
}